html {
  font-family: sans-serif;
}

body {
  max-width: 80ch;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

th {
  font-weight: normal;
  font-size: 1.1em;
}

tr.odd {
  background-color: #eee;
}

td {
  padding-right: 2em;
}

.home-link {
  font-size: 0.9em;
}

body > * {
  /* set all other elements as after elements with order 0 in document
   order */
  order: 1;
}

body > header {
  /* set header as first element in container */
  order: 0;
}
